<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bupt.hutaow">
    <application>
        <activity class=".Calculator" android:label="Calculator">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
